<%- include("partials/header"); -%>
    <h1>About Me</h1>
    <p> <%= aboutContent %> </p>
    <p>Actually I've always wanted to be a Software Developer,
but couldn't study Computer Science and Engineering (CSE) due
to various reasons and circumstances.
<br>
That's the reason I do not have a degree in the relative field but
I am just as qualified as others with a CSE degree if not
more, because it's my passion, I love coding.
<br>
I could've just used my LL.B. degree to get an internship in a law
firm, instead I'm challenging myself to get a developer job and
be very good at it and I'll be just that someday because I believe
in this- <br>
<em>"It does not matter how slowly you go as long as you do not
stop."</em>
- <strong>Confucius</strong></p>
<h2>My Skills</h2>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>Node.Js</li>
  <li>Express.Js</li>
  <li>React</li>
  <li>MongoDB</li>
  <li>Mongoose</li>
</ul>
<p class="nb"><strong>N.B.</strong> I've learned these languages recently so I'm no expert on these yet. <br> However I do have very good basic understanding of these languages. I'm still learning and have a very long way to go.</p>
<%- include("partials/footer"); -%>
